@media only screen and (max-width: 500px) {
   
    
    /* download section */
    
    
    #download-h3 {
        margin-left: 1.7em;
        font-size: 25px;
        margin-top: -8em;}
    
    #dl-info {
        font-size: 13px;
        margin-left: -50px;
        width: 300;}
    
    #download-info1 {
    width:300;
    position: absolute;
    margin-top: -32em;
    margin-left: -4.5em;
    font-size:13px;}

    
    #download-info2 {
    width:300;
    text-align: justify;
    position: absolute;
    margin-top: -26em;
    margin-left: -4.5em;
    font-size:13px;}
    
    .btn-slide {
        margin-top: -18em;
        height: 30px;
        width: 159px;}
    
    .btn-slide span.circle {
        height: 20px;
        width: 20px;}
        
  .btn-slide span.title,
  .btn-slide span.title-hover{
    left: 45px;
    top: -8.3px;
    font-size: 18px;}
    
    
    /* footer */

    .footer-bg {
        width:31em;
        margin-top: -7em;}

    
    #mockup-h3 {
        margin-top: -22em;
        margin-left: -4em;
        width: 400;
        font-size: 25px;}
    
    
     #mockups {
        width:23em;
        margin-left: -5em;
    }
    

    .image-mockups {
    height: 20em;}
    
    
     /* About */
    
    p {
    font-size: 15px;}
    
    .about-monsters-right {
        margin-right: -3.2em;
        width: 300;}
    
    .about-monsters {
        margin-left: -3em;
        width: 300;}
    
    .left-side {margin-right: -3.5em;}
    
    .right-side {margin-left: -4.5em;}
    
    h3 {font-size: 35px;
    text-align: center;}
    
    #gandalf-h3 {font-size: 35px;}
    
    #about-info1 {
    font-size: 10px;
    margin-top: -11.5em;
    margin-left: 2em;
    width: 350;}
    
    #about-info2 {
    font-size: 10px;
    margin-top: -8.5em;
    margin-left: 2em;
    width: 350;}
    
    #about-info3 {
    font-size: 10px;
    margin-left: 2em;
    margin-top:-3em; 
    width: 350;}
    
    #scrolldown {
    font-size: 13px;
    margin-top: -14.9em;
    margin-left: 2em;
    width: 350;}
    
    #about-h2 {
    font-size: 25px;
    margin-left: 4.4em;
    margin-top: -210px;}

    .monster6 {margin-bottom: 0em}
    .monster11 {margin-bottom: 0em}
    
    #harry {margin-right: 1.5em;
        width:16em;}
    
    #buzz {
        width: 23em;
        margin-left: -0.7em;}
    
    #wolverine {
        margin-left: 3em;
        width: 16em;}
    
    
    #woody {width: 18em;}
    
    #wonder {
        margin-right: 1em;
        width: 16em;}
    
    #littlered {
        margin-left: 1em;
        width: 20em;}
    
    #minnie {
        margin-left: 3em;
        width: 16em;}
    
    #captain {
        margin-bottom: -3em;
        width:18em;
        margin-left: 2.5em;}
    
    #mario {
        width: 15em;
    margin-right: 2em;}
    
    #gandalf {
        width: 17em;
    margin-right: 1em;}
    
    #mike {
        width: 15em;
    margin-left: 3.8em;}
    
    #winnie {width: 14em;
    margin-right: 2.5em;}
    
    
    /* home text */
    
    
     #home-h1 {
   font-size: 50px;
    margin-bottom: 39em;}

    #home-h2 {
    font-size: 40px;
    margin-top: 1em;
    margin-bottom: 1em;}
    
    
    .mainbg {margin-top: -131em;}
    
    


